html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

:root {
    --ff-antonio: 'Antonio', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;


    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #FCFCFC;
    --clr-neutral-400: #999999;
    --clr-neutral-600: #6C7C9A;
    --clr-neutral-800: #273A40;
    --clr-neutral-900: #1A2E35;

    --clr-primary-400: #57D89F;

    --clr-accent-400: #FD6F4D;

    --fw-regular: 400;
    --fw-bold: 700;

}

/** --------------
    CSS header 
-------------- **/

body {
    font-family: var(--ff-antonio);
    transition: 0.3s;

    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-100);
    position: relative;
    overflow-x: hidden;
}

header {
    position: fixed;
    background-color: inherit;
    top: 0;
    width: calc(100% - 2rem);
    padding: 0 1rem;
    z-index: 999;
}

.header-wrapper {
    max-width: 1100px;
    width: 100%;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.75rem 0;
    font-weight: var(--fw-bold);
}

.header-nav__wrapper {
    display: flex;
    gap: 2rem;
}

.header-nav ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-transform: uppercase;
    color: var(--clr-neutral-600);

    font-size: 0.9rem;
    line-height: 2;
}

/** toggle button **/

.header-toggle {
    position: relative;
}

.toggle-checkbox {
	opacity: 0;
    right: 0;
    top: 0;

	position: absolute;
}

.label-checkbox {
	background-color: rgb(255 255 255 / 0.2);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0;
	position: relative;
	height: 20px;
	width: 42px;
	transform: scale(1.1);
    border: 2px solid rgb(0 0 0 / 0.1);
}

.label-checkbox .ball {
	position: absolute;
	background-color: #FEECCF;
	border-radius: 50%;
    border: 2px solid #FDBB52;
    box-sizing: border-box;
	top: 1px;
	left: 1px;
	height: 18px;
	width: 18px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.toggle-checkbox:checked + .label-checkbox .ball {
	transform: translateX(22px);
}

.header-toggle .fa-moon {
	color: #FFFFFF;
    font-size: 0.875rem;
}

.header-toggle .fa-sun {
	color: #f39c12;
    font-size: 0.875rem;
}

/** ---------
    Slider
--------- **/

.slider-wrapper {
    background-color: var(--clr-neutral-200);
    height: 350px;

    display: grid;
    grid-template-columns: minmax(1rem, calc((100vw - 1040px) / 2)) minmax(0, 300px) minmax(0, 100%);
    align-items: center;
}

.dark .slider-wrapper {
    background-color: var(--clr-neutral-800);;
}

.slider-space {
    grid-area: 1 / 1 / 2 / 2;
    background-color: inherit;
    height: 100%;
    z-index: 2;
}

.slider-about {
    display: flex;
    align-items: center;
    background-color: inherit;
    height: 100%;
    z-index: 2;

    grid-area: 1 / 2 / 2 / 3; 
}
    
.slider-about p { 
    font-size: 1.75rem;
    font-weight: var(--fw-bold);
    line-height: 1.3;
    position: relative; 
    padding-bottom: 1.2rem;
}

.slider-about p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 57px;
    height: 5px;
    background-color: var(--clr-primary-400);   
}

.slider { 
    grid-area: 1 / 3 / 2 / 4;
    position: relative;
}

.auto-slider {
    display: flex;
    animation: 20s slide infinite linear;
}

.slider::before {
    left: 0;
    background: linear-gradient(to right, var(--clr-neutral-200), rgb(255 255 255 / 0));
}

.slider::after {
    right: 0;
    background: linear-gradient(to left, var(--clr-neutral-200), rgb(255 255 255 / 0));
}

.dark .slider::before {
    left: 0;
    background: linear-gradient(to right, var(--clr-neutral-800), rgb(255 255 255 / 0));
}

.dark .slider::after {
    right: 0;
    background: linear-gradient(to left, var(--clr-neutral-800), rgb(255 255 255 / 0));
}

.slider::before,
.slider::after {
    content: "";
    position: absolute;
    top: -10px;
    height: 220px;
    width: 80px;  
    z-index: 2; 
}

.slider:hover .auto-slider {
    animation-play-state: paused;
}

.card-wrapper {
    display: flex;
}


.slider-card {
    width: 200px;
    height: 200px;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 22px;
    padding: 30px;
    box-sizing: border-box;
}

.slider-verde {
    background-color: rgb(90 228 167 / 0.32);
    color: #47B484;
}

.slider-laranja {
    background-color: rgb(255 142 120 / 0.32);
    color: #FF8E78;
}

.slider-azul {
    background-color: rgb(2 171 229 / 0.32);
    color: #02ABE5;
}

.slider-branco {
    background-color: rgb(191 191 191 / 0.32);
    color: #1A2E35;
}

.slider-card span {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: var(--fw-bold);
    max-width: 7ch;
}

.slider-card__image {
    padding: 0.75rem 3rem;
    border-radius: 999px;
    background-color: white;
}

.slider-card__image img {
    width: 45px;
    height: 45px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-240px * 8));
    }
}

/** --------------
    Dark theme 
-------------- **/

.dark {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
}

.dark header {
    background-color: var(--clr-neutral-800);
}

.dark .label-checkbox .ball {
    background-color: #495364;
    border: 2px solid #FFFFFF;
}

/** --------
    Utils 
-------- **/

.subtitulo {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 7rem 0 2rem 0;
    position: relative;
}

.subtitulo::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
    bottom: 0;
    width: 57px;
    height: 5px;
    background-color: var(--clr-primary-400);   
}

.subtitulo::after {
    content: "+";
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(90%);
    color: var(--clr-primary-400);
    font-size: 3.75rem;
    line-height: 0;
}

/* section */
.section-wrapper {
    max-width: 1040px;
    margin: 4.5rem auto;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    padding-top: 6rem;
    overflow: visible;
}

.section-wrapper__reverse {
    flex-direction: row-reverse;
}

.section-cta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-cta h1 {
    font-size: 3rem;
    font-weight: var(--fw-bold);
    max-width: 16ch;
    line-height: 1.3;
}

.section-cta h1 strong {
    color: var(--clr-primary-400);
}

.section-cta h2 {
    font-size: 1.75rem;
    font-weight: var(--fw-regular);
    line-height: 1.3;
    position: relative;
    padding-bottom: 1rem;
}

.section-cta h2 strong {
    font-weight: var(--fw-bold);
}

.section-cta h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 57px;
    height: 5px;
    background-color: var(--clr-primary-400);   
}

.section-cta p {
    font-size: 1rem;
    color: var(--clr-neutral-400);
    max-width: 60ch;
    line-height: 1.8;
}

.section-cta .content {
    font-size: 1rem;
    color: var(--clr-neutral-400);
    max-width: 57ch;
    line-height: 2;
}

/* button cta */

.cta-button {
    cursor: pointer;
    padding: 0.75em 1.5em 0.875em 1.5em;
    font-size: 0.8rem;
    width: fit-content;
    border-radius: 9999px;
    background-color: var(--clr-accent-400);
    color: var(--clr-neutral-100);
    box-shadow: none;
    transition: box-shadow 0.2s;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.cta-button:hover {
    box-shadow: 0px 3px 16px #FD6F4D80;
}

.whatsapp {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 999;
    cursor: pointer;
}

.whatsapp img {
    max-width: 70px;
    max-height: 70px;
}

/* -- hidden / show -- */
.fade {
    opacity: 0;
    filter: blur(20px);
    transition: all 1.5s;
}

.efeito-esquerda {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-10%);
    transition: all 1.5s;
}

.efeito-direita {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(10%);
    transition: all 1.5s;
}

.efeito-blur {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(0);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* @media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
} */