html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

:root {
    --ff-antonio: 'Antonio', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;


    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #FCFCFC;
    --clr-neutral-400: #999999;
    --clr-neutral-600: #6C7C9A;
    --clr-neutral-800: #203740;
    --clr-neutral-900: #1A2E35;

    --clr-primary-400: #57D89F;

    --clr-accent-400: #FD6F4D;

    --fw-regular: 400;
    --fw-bold: 700;

}

/** --------------
    CSS header 
-------------- **/

body {
    min-height: 100vh;
    font-family: var(--ff-antonio);
    transition: 0.3s;

    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-100);
}

header {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.75rem 0;
    font-weight: var(--fw-bold);
}

.header-logo {
    font-size: 3rem;
}

.header-nav__wrapper {
    display: flex;
    gap: 2rem;
}

.header-nav ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-transform: uppercase;
    color: var(--clr-neutral-600);

    font-size: 0.75rem;
    line-height: 2;
}

/** toggle button **/

.header-toggle {
    position: relative;
}

.toggle-checkbox {
	opacity: 0;
    right: 0;
    top: 0;

	position: absolute;
}

.label-checkbox {
	background-color: rgb(255 255 255 / 0.2);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0;
	position: relative;
	height: 20px;
	width: 42px;
	transform: scale(1.1);
    border: 2px solid rgb(0 0 0 / 0.1);
}

.label-checkbox .ball {
	position: absolute;
	background-color: #FEECCF;
	border-radius: 50%;
    border: 2px solid #FDBB52;
    box-sizing: border-box;
	top: 1px;
	left: 1px;
	height: 18px;
	width: 18px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.toggle-checkbox:checked + .label-checkbox .ball {
	transform: translateX(22px);
}

.header-toggle .fa-moon {
	color: #FFFFFF;
    font-size: 0.875rem;
}

.header-toggle .fa-sun {
	color: #f39c12;
    font-size: 0.875rem;
}

/** --------------
    Dark theme 
-------------- **/

.dark {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
}

.dark .label-checkbox .ball {
    background-color: #495364;
    border: 2px solid #FFFFFF;
}

/** --------
    Utils 
-------- **/

.subtitulo {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 7rem 0 2rem 0;
    position: relative;
}

.subtitulo::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
    bottom: 0;
    width: 57px;
    height: 5px;
    background-color: var(--clr-primary-400);   
}

.subtitulo::after {
    content: "+";
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(90%);
    color: var(--clr-primary-400);
    font-size: 3.75rem;
    line-height: 0;
}

/* section */
.section-wrapper {
    max-width: 1040px;
    margin: 4.5rem auto;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-wrapper__reverse {
    flex-direction: row-reverse;
}

.section-cta {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section-cta h1 {
    font-size: 3rem;
    font-weight: var(--fw-bold);
    max-width: 16ch;
    line-height: 1.3;
}

.section-cta h1 strong {
    color: var(--clr-primary-400);
}

.section-cta h2 {
    font-size: 1.75rem;
    font-weight: var(--fw-regular);
    line-height: 1.3;
    position: relative;
    padding-bottom: 1rem;
}

.section-cta h2 strong {
    font-weight: var(--fw-bold);
}

.section-cta h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 57px;
    height: 5px;
    background-color: var(--clr-primary-400);   
}

.section-cta p {
    font-size: 0.9rem;
    color: var(--clr-neutral-400);
    max-width: 60ch;
    line-height: 1.5;
}

/* button cta */

.cta-button {
    cursor: pointer;
    padding: 0.75em 1.5em 0.875em 1.5em;
    font-size: 0.875rem;
    width: fit-content;
    border-radius: 9999px;
    background-color: var(--clr-accent-400);
    color: var(--clr-neutral-100);
    box-shadow: none;
    transition: box-shadow 0.2s;
    
}

.cta-button:hover {
    box-shadow: 0px 3px 16px #FD6F4D80;
}

.whatsapp {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 999;
    cursor: pointer;
}

.whatsapp img {
    max-width: 70px;
    max-height: 70px;
}