html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

:root {
    --ff-antonio: 'Antonio', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;


    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #F7F7F7;
    --clr-neutral-400: #999999;
    --clr-neutral-600: #6C7C9A;
    --clr-neutral-700: #3C3C3C;
    --clr-neutral-800: #273A40;
    --clr-neutral-900: #1A2E35;

    --clr-primary-400: #57D89F;

    --clr-accent-400: #FD6F4D;

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

}

html, body {
    min-height: 100%;
}

html {
    scroll-behavior: smooth;
    height: calc(100% - 85.98px);
}

body {
    font-family: var(--ff-antonio);
    transition: 0.3s;

    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-100);
    position: relative;
    overflow-x: hidden;
}

header,
footer,
main {
    overflow-x: hidden;
}

main {
    background: url(/assets/blob-haikei-light.svg);
    background-repeat: no-repeat;
    background-size: 100% 100vw;
}

.dark main {
    background: url(/assets/blob-haikei-dark.svg);
    background-repeat: no-repeat;
    background-size: 100% 100vw;
}

@media (max-width: 1000px) {
    main {
        background-size: 120% 150vw;
    }
    .dark main {
        background-size: 120% 150vw;
    }
}

@media (max-width: 900px) {
    main {
        background-size: 100% 200vw;
    }
    .dark main {
        background-size: 100% 200vw;
    }
}

@media (max-width: 500px) {
    main {
        background-size: 150% 250vw;
    }
    .dark main {
        background-size: 150% 250vw;
    }
}

/** --------------
    CSS header 
-------------- **/

header {
    position: fixed;
    background-color: var(--clr-neutral-200);
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-wrapper {
    max-width: 1100px;
    width: calc(100% - 2rem);
    margin-inline: auto;

    display: flex;
    align-items: center;

    padding: 1.75rem 0;
    font-weight: var(--fw-bold);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: transform 0.3s ease, opacity 0.2s ease;
    background-color: var(--clr-neutral-900);
}

.dark .bar {
    background-color: var(--clr-neutral-200);
}

.header-nav__wrapper {
    display: flex;
    gap: 2rem;
    margin-left: auto;
    margin-right: 2rem;
}

.header-nav ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-transform: uppercase;
    color: var(--clr-neutral-600);

    font-size: 0.9rem;
    line-height: 2;
}

.header-nav ul li {
    cursor: pointer;
    position: relative;
}

.header-nav ul li a {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: var(--clr-neutral-600);
}

.header-nav a:before {
    content: "";
    display: block;
    height: 0.125em;
    background: var(--clr-primary-400);
    position: absolute;
    bottom: -0.3em;
    width: 0;
    transition: width 0.3s ease;
}

.header-nav li:hover a:before {
    width: 100%;
}

@media (max-width: 900px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .header-wrapper {
        justify-content: space-between;
        position: relative;
    }

    .header-nav__wrapper {
        position: fixed;
        left: -100%;
        top: 86px;

        gap: 1rem;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;

        background-color: var(--clr-neutral-200);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .dark .header-nav__wrapper {
        background-color: var(--clr-neutral-800);
    }

    .header-nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    .header-nav ul li a {
        font-size: 2rem;
    }

    .header-nav__wrapper.active {
        left: 0;
    }

    .header-toggle__wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 600px) {
    .header-logo {
        height: 25px;
        padding: 2.5px 0;
    }
}

/** toggle button **/

.header-toggle {
    position: relative;
}

.toggle-checkbox {
	opacity: 0;
    right: 0;
    top: 0;

	position: absolute;
}

.label-checkbox {
	background-color: rgb(255 255 255 / 0.2);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0;
	position: relative;
	height: 20px;
	width: 42px;
	transform: scale(1.1);
    border: 2px solid rgb(0 0 0 / 0.1);
}

.label-checkbox .ball {
	position: absolute;
	background-color: #FEECCF;
	border-radius: 50%;
    border: 2px solid #FDBB52;
    box-sizing: border-box;
	top: 1px;
	left: 1px;
	height: 18px;
	width: 18px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.toggle-checkbox:checked + .label-checkbox .ball {
	transform: translateX(22px);
}

.dark .header-toggle .fa-moon {
	color: var(--clr-neutral-100);
    font-size: 0.875rem;
}

.header-toggle .fa-moon {
	color: var(--clr-neutral-800);
    font-size: 0.875rem;
}

.header-toggle .fa-sun {
	color: #f39c12;
    font-size: 0.875rem;
}


/** ------------
  Modal dialog
------------ **/

dialog > * {
    box-sizing: border-box;
}

.modal {
    box-sizing: border-box;
    max-width: 360px;
    width: 100%;
    height: fit-content;
    border-radius: 25px;
    border: none;
    color: var(--clr-neutral-800);
    background-color: var(--clr-neutral-100);
    border: 1px solid var(--clr-neutral-400);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}

.contato-titulo {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem 0 1.25rem 0;
    position: relative;
}

.contato-titulo::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 57px;
    height: 4px;
    background-color: var(--clr-primary-400);   
}

.dark .modal {
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
}

.modal::backdrop {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modal p,
.modal span {
    line-height: 1.5;
    text-align: center;
    font-size: 0.875rem;
    color: var(--clr-neutral-400);
    display: block;
    padding-bottom: 0.7rem;
}

.modal span {
    color: var(--clr-neutral-900);
}

.dark .modal span {
    color: var(--clr-neutral-100);
}

.modal p {
    padding-top: 2rem;
}

.modal form {
    padding: 2rem 0 0;
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
}

.modal form input,
.modal form select {
    border: 2px solid var(--clr-neutral-400);
    padding: 1rem 1.25rem;
    border-radius: 999px;
    outline: none;
}

.dark .modal form input,
.dark .modal form select {
    border: 2px solid var(--clr-neutral-100);
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-100);
}

.modal form input {
    width: calc(100% - 3rem);
}

.modal input:focus,
.modal select:focus,
.dark .modal input:focus,
.dark .modal select:focus {
    border: 2px solid var(--clr-primary-400);
}

.select-container {
    width: calc(100% - 4px);
    position: relative;
}

.input-select {
    width: 100%;
}

.input-container {
    position: relative;
}

.modal form i {
    position: absolute;
    right: 1.75rem;
    transform: translateY(100%);
    color: var(--clr-primary-400);
    z-index: 2;
}

.modal select {
    appearance: none;
}

.modal-btn {
    display: flex;
    gap: 1rem;
    flex-direction: column-reverse;
    padding: 2rem 0 0.3rem 0;
}

.modal-btn button {
    width: 100%;
    font-weight: var(--fw-bold);
    cursor: pointer;
    padding: 1em 3em;
    font-size: 0.8rem;
    border-radius: 999px;
    box-shadow: none;
    transition: box-shadow 0.2s;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;

}

.modal-btn .cancelar {
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-800);
    border: 1px solid var(--clr-neutral-600);
}

.dark .modal-btn .cancelar {
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-100);
}

.modal-btn .enviar {
    background-color: var(--clr-accent-400);
    color: var(--clr-neutral-100);
}

.modal-btn .enviar:hover {
    box-shadow: 0px 3px 16px #FD6F4D80;
}

.lottie {
    position: absolute;
    border-radius: 15px;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    overflow: hidden;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
}

.lottie-load {
    opacity: 1;
}

/** ---------------
  infinite Slider
--------------- **/

.slider-wrapper {
    background-color: var(--clr-neutral-200);
    height: 350px;

    display: grid;
    grid-template-columns: minmax(1rem, calc((100vw - 1040px) / 2)) minmax(0, 300px) minmax(0, 100%);
    align-items: center;
    overflow: hidden;
}

.dark .slider-wrapper {
    background-color: var(--clr-neutral-800);;
}

.slider-space {
    grid-area: 1 / 1 / 2 / 2;
    background-color: inherit;
    height: 100%;
    z-index: 2;
}

.slider-about {
    display: flex;
    align-items: center;
    background-color: inherit;
    height: 100%;
    z-index: 2;

    grid-area: 1 / 2 / 2 / 3; 
}
    
.slider-about p { 
    font-size: 1.75rem;
    font-weight: var(--fw-bold);
    line-height: 1.3;
    position: relative; 
    padding-bottom: 1.2rem;
}

.slider-about p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 57px;
    height: 5px;
    background-color: var(--clr-primary-400);   
}

.slider { 
    grid-area: 1 / 3 / 2 / 4;
    position: relative;
}

.auto-slider {
    display: flex;
    animation: 13s slide infinite linear;
}

.slider::before {
    left: 0;
    background: linear-gradient(to right, var(--clr-neutral-200), rgb(255 255 255 / 0));
}

.slider::after {
    right: 0;
    background: linear-gradient(to left, var(--clr-neutral-200), rgb(255 255 255 / 0));
}

.dark .slider::before {
    left: 0;
    background: linear-gradient(to right, var(--clr-neutral-800), rgb(255 255 255 / 0));
}

.dark .slider::after {
    right: 0;
    background: linear-gradient(to left, var(--clr-neutral-800), rgb(255 255 255 / 0));
}

.slider::before,
.slider::after {
    content: "";
    position: absolute;
    top: -10px;
    height: 220px;
    width: 80px;  
    z-index: 2; 
}

.slider:hover .auto-slider {
    animation-play-state: paused;
}

.card-wrapper {
    display: flex;
}


.slider-card {
    width: 200px;
    height: 200px;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 22px;
    padding: 30px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

.slider-verde {
    background-color: rgb(90 228 167 / 0.32);
    color: #47B484;
}

.slider-laranja {
    background-color: rgb(255 142 120 / 0.32);
    color: #FF8E78;
}

.slider-azul {
    background-color: rgb(2 171 229 / 0.32);
    color: #02ABE5;
}

.slider-branco {
    background-color: rgb(191 191 191 / 0.32);
    color: #1A2E35;
}

.slider-roxo {
    background-color: rgba(236, 141, 240, 0.32);
    color: #4f0c52;
}

.slider-card span {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: var(--fw-bold);

}

.slider-card__image {
    padding: 0.75rem 3rem;
    border-radius: 999px;
    background-color: white;
}

.slider-card__image img {
    width: 45px;
    height: 45px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-240px * 5));
    }
}

@media (max-width: 600px) {
    .slider-wrapper {
        height: fit-content;
    
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto); /* Duas linhas de altura automática */
        align-items: center;
    }

    .slider-space {
        display: none;
    }

    .slider-about {
        box-sizing: border-box;
        padding: 3rem 1rem;
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        text-align: center;
    }

    .slider-about p::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 57px;
        height: 5px;
        background-color: var(--clr-primary-400);   
    }

    .slider {
        grid-area: 2 / 1 / 3 / 2;
    }

    .auto-slider {
        padding: 2rem 0;
    }

    .slider::before,
    .slider::after {
        top: 1.5rem;
        width: 30px;
    }
}

/** ----------------
  Slider marcas
---------------- **/

.slider-marcas__wrapper {
    display: flex;
    animation: 16s slidemarcas infinite linear;
    padding: 3rem 0;
}

.slider-marcas__container {
    display: flex;
}

.card-marcas {
    padding-right: 3rem;
}

.slider-marcas:hover .slider-marcas__wrapper {
    animation-play-state: paused;
}


@keyframes slidemarcas {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-218px * 10));
    }
}

/** ----------------
  section clientes 
---------------- **/

.clientes {
    max-width: 1040px;
    margin: 0 auto;
    padding: 8rem 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clientes-wrapper {
    border-radius: 25px;
    background-color: var(--clr-neutral-200);
}

.dark .clientes-wrapper {
    border-radius: 25px;
    background-color: var(--clr-neutral-800);
}

.clientes-conteudo {
    display: flex;
    align-items: center;
    padding: 2.5rem 10% 6rem 10%;
    gap: 3rem;
}

.dark .clientes-img__empresa {
    filter: invert(100%);
    width: 170px;
    height: 30px;
}

.clientes-img__empresa {
    filter: invert(0);
    width: 170px;
    height: 30px;
}

.clientes-testimonial {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.clientes-texto {
    color: var(--clr-neutral-400);
    line-height: 2;
}

.clientes-nome {
    font-weight: var(--fw-semi-bold);
}

.clientes-titulo {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    padding: 3rem 0 2rem 0;
    position: relative;
}

.clientes-titulo::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
    bottom: 0;
    width: 57px;
    height: 5px;
    background-color: var(--clr-primary-400);   
}

.clientes-titulo::after {
    content: "+";
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(90%);
    color: var(--clr-primary-400);
    font-size: 3.75rem;
    line-height: 0;
}

.swiper-slide  {
    width: fit-content !important;
}

.swiper-pagination {
    bottom: 25px !important;
}

.swiper-pagination > * {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0 0.5rem !important;
}

.swiper-pagination-bullet {
    background-color: rgba(0 0 0 / 0.5);
}

.dark .swiper-pagination-bullet {
    background-color: rgba(255 255 255 / 1);
}

@media (max-width: 600px) {
    .clientes {
        padding: 5rem 0.7rem;
    }

    .clientes-titulo {
        padding: 2rem 0 2rem 0;
    }

    .clientes-conteudo {
        padding: 1.5rem 5% 4rem 5%;
        gap: 2rem;
        flex-direction: column;
    }

    .clientes-testimonial {
        align-items: center;
    }

    .clientes-texto {
        font-size: 1rem;
        line-height: 1.5;
    }
}

/** ---------------
  section liberte
--------------- **/


.liberte-wrapper {
    background-color: var(--clr-neutral-200);

    display: grid;
    grid-template-columns: minmax(1rem, calc((100vw - 1040px) / 2)) 1fr 50%;
    align-items: center;
}

.dark .liberte-wrapper {
    background-color: var(--clr-neutral-800);;
}

.liberte-space {
    grid-area: 1 / 1 / 2 / 2;
}

.liberte-content {
    display: flex;
    background-color: inherit;
    flex-direction: column;
    gap: 1.5rem;

    grid-area: 1 / 2 / 2 / 3; 
}

.liberte-content h2 {
    font-size: 3rem;
    line-height: 1.5;
    max-width: 15ch;
    font-weight: var(--fw-bold);
}

.liberte-content h2 strong {
    color: var(--clr-primary-400);
}

.liberte-content p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--clr-neutral-700);
    max-width: 55ch;
    padding-bottom: 0.5rem;
}

.dark .liberte-content p {
    color: var(--clr-neutral-200);
}

.liberte-img { 
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
    width: 100%;
}

.liberte-img img {
    text-align: right;
    width: 100%;
    max-height: 580px;
    min-height: 440px;
    object-fit: cover;
    object-position: top left;
}

@media (max-width: 800px) {
    .liberte-space {
        display: none;
    }

    .liberte-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .liberte-content {
        padding: 2rem 0.7rem;
        align-items: center;
        text-align: center;
    }
    
    .liberte-content h2 {
        font-size: clamp(2.5rem, 10vw, 3rem);
        max-width: min(50%, fit-content);
    }

    .liberte-content p {
        line-height: 2;
        max-width: min(50%, fit-content);
    }

    .liberte-img img {
        max-height: 480px;
        min-height: 100%;
    }
}

/** ----------
  CSS footer
---------- **/

footer {
    background-color: var(--clr-neutral-100);
    position: relative;
}


.dark footer {
    background-color: var(--clr-neutral-900);
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-wrapper {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 3rem 1rem 8rem 1rem;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    color: var(--clr-neutral-600);
}

.footer-creditos {
    color: var(--clr-neutral-600);
    text-align: center;
}

.footer-creditos a {
    text-decoration: none;
    color: var(--clr-neutral-600);
}

.footer-logo-wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.footer-logo-wrapper span {
    text-transform: uppercase;
    color: var(--clr-neutral-600);
}

.footer-logo {
    width: 125px;
    z-index: 2;
}

.footer-detalhe-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(90deg);
}

.footer-detalhe-svg img {
    width: 100px;
    overflow: hidden;
}

.dark .footer-info span:hover,
.dark .footer-social i:hover,
.dark .footer-creditos:hover a {
    color: var(--clr-neutral-100);
}
.footer-info span:hover,
.footer-social i:hover,
.footer-creditos:hover a {
    color: var(--clr-neutral-900);
}

.footer-social {
    display: flex;
    gap: 1rem;
}

.footer-social i {
    color: var(--clr-neutral-600);
}

.footer-social i {
    font-size: 1.5rem;
    cursor: pointer;
}

/** --------------
    Dark theme 
-------------- **/

.dark {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
}

.dark header {
    background-color: var(--clr-neutral-800);
}

.dark .label-checkbox .ball {
    background-color: #495364;
    border: 2px solid #FFFFFF;
}

.dark .header-nav li:hover a {
    color: var(--clr-neutral-100);
}

.header-nav li:hover a {
    color: var(--clr-neutral-900);
}

.nav-link .active {
    color: var(--clr-neutral-900);
}

.dark .active {
    color: var(--clr-neutral-100);
}

/** --------
    Utils 
-------- **/

.subtitulo {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 7rem 0 2rem 0;
    position: relative;
}

.subtitulo::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
    bottom: 0;
    width: 57px;
    height: 5px;
    background-color: var(--clr-primary-400);   
}

.subtitulo::after {
    content: "+";
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(90%);
    color: var(--clr-primary-400);
    font-size: 3.75rem;
    line-height: 0;
}

@media (max-width: 900px) {
    .subtitulo {
        padding: 6rem 0 2rem 0;
    }
}

/* section */
.section-wrapper {
    max-width: 1040px;
    margin: 4.5rem auto;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.hero {
    padding-top: 10.5rem;
    padding-bottom: 4.5rem;
    margin: 0 auto;
    overflow: visible;
}

.section-wrapper__reverse {
    flex-direction: row-reverse;
}

.section-cta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero figure {
    position: relative;
}

.hero .hero-img {
    max-width: 540px;
    width: 100%;
}

.cta-img {
    max-width: 540px;
    width: 100%;
}

.parallax {
    position: absolute;
    top: 40%;
    left: 70%;
}

.section-cta h1 {
    font-size: 3rem;
    font-weight: var(--fw-bold);
    max-width: 16ch;
    line-height: 1.3;
}

.section-cta h1 strong {
    color: var(--clr-primary-400);
}

.section-cta h2 {
    font-size: 1.75rem;
    font-weight: var(--fw-regular);
    line-height: 1.3;
    position: relative;
    padding-bottom: 1rem;
}

.section-cta h2 strong {
    font-weight: var(--fw-bold);
}

.section-cta h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 57px;
    height: 5px;
    background-color: var(--clr-primary-400);   
}

.section-cta p {
    font-size: 1rem;
    color: var(--clr-neutral-700);
    max-width: 60ch;
    line-height: 1.8;
}

.section-cta .content {
    font-size: 1rem;
    color: var(--clr-neutral-700);
    max-width: 57ch;
    line-height: 2;
}

.dark .section-cta p,
.dark .section-cta .content {
    color: var(--clr-neutral-200);
}

@media (max-width: 900px) {
    .section-wrapper {
        max-width: 1040px;
        margin: 4.5rem auto;
        padding: 0 1rem;
    
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .section-cta {
        align-items: center;
    }

    .section-cta h2 {
        text-align: center;
    }

    .section-cta h2::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 57px;
        height: 5px;
        background-color: var(--clr-primary-400);   
    }

    .section-cta h1,
    .section-cta p {
        text-align: center;
    }
    
    .hero {
        padding-top: 7.5rem;
        padding-bottom: 2.5rem;
        margin: 0 auto;
        overflow: visible;
        flex-direction: column;
    }
    
    .section-wrapper__reverse {
        flex-direction: column-reverse
    }
}

@media (max-width: 500px) {
    .section-cta h1 {
        font-size: 2.25rem;
    }



    .section-cta h2 {
        font-size: 1.5rem;
    }

}

/* button cta */

.cta-button {
    cursor: pointer;
    padding: 1em 3em;
    font-size: 0.8rem;
    width: fit-content;
    border-radius: 9999px;
    background-color: var(--clr-accent-400);
    color: var(--clr-neutral-100);
    box-shadow: none;
    transition: box-shadow 0.2s;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.cta-button:hover {
    box-shadow: 0px 3px 16px #FD6F4D80;
}

.whatsapp {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 999;
    cursor: pointer;
}

.whatsapp img {
    max-width: 70px;
    max-height: 70px;
}

@media (max-width: 500px) {
    .cta-button {
        padding: 1em 1.5em;
    }
}

/* -- hidden / show -- */
.fade {
    opacity: 0;
    filter: blur(20px);
    transition: all 1.5s;
}

.efeito-esquerda {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-10%);
    transition: all 1.5s;
}

.efeito-direita {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(10%);
    transition: all 1.5s;
}

.efeito-blur {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(0);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
