html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

:root {
    --ff-antonio: 'Antonio', sans-serif;
    --ff-montserrat: 'Montserrat', sans-serif;


    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #F7F7F7;
    --clr-neutral-400: #999999;
    --clr-neutral-600: #6C7C9A;
    --clr-neutral-800: #273A40;
    --clr-neutral-900: #1A2E35;

    --clr-primary-400: #57D89F;

    --clr-accent-400: #FD6F4D;

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

}

html, body {
    min-height: 100%;
}

html {
    scroll-behavior: smooth;
    height: calc(100% - 85.98px);
}

body {
    font-family: var(--ff-antonio);
    transition: 0.3s;

    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-100);
    position: relative;
    overflow-x: hidden;
}

/** --------------
    CSS header 
-------------- **/

header {
    position: fixed;
    background-color: var(--clr-neutral-200);
    top: 0;
    width: calc(100% - 2rem);
    padding: 0 1rem;
    z-index: 999;
}

.header-wrapper {
    max-width: 1100px;
    width: 100%;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.75rem 0;
    font-weight: var(--fw-bold);
}

.header-nav__wrapper {
    display: flex;
    gap: 2rem;
}

.header-nav ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    text-transform: uppercase;
    color: var(--clr-neutral-600);

    font-size: 0.9rem;
    line-height: 2;
}

.header-nav ul li {
    cursor: pointer;
    position: relative;
}

.header-nav ul li a {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: var(--clr-neutral-600);
}

.header-nav li:before {
    content: "";
    display: block;
    height: 2.5px;
    background: var(--clr-primary-400);
    position: absolute;
    bottom: -0.1rem;
    width: 0;
    transition: width 0.3s ease;
}

.header-nav li:hover:before {
    width: 100%;
}

/** toggle button **/

.header-toggle {
    position: relative;
}

.toggle-checkbox {
	opacity: 0;
    right: 0;
    top: 0;

	position: absolute;
}

.label-checkbox {
	background-color: rgb(255 255 255 / 0.2);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0;
	position: relative;
	height: 20px;
	width: 42px;
	transform: scale(1.1);
    border: 2px solid rgb(0 0 0 / 0.1);
}

.label-checkbox .ball {
	position: absolute;
	background-color: #FEECCF;
	border-radius: 50%;
    border: 2px solid #FDBB52;
    box-sizing: border-box;
	top: 1px;
	left: 1px;
	height: 18px;
	width: 18px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.toggle-checkbox:checked + .label-checkbox .ball {
	transform: translateX(22px);
}

.dark .header-toggle .fa-moon {
	color: var(--clr-neutral-100);
    font-size: 0.875rem;
}

.header-toggle .fa-moon {
	color: var(--clr-neutral-800);
    font-size: 0.875rem;
}

.header-toggle .fa-sun {
	color: #f39c12;
    font-size: 0.875rem;
}

/** ------------
  Modal dialog
------------ **/

dialog > * {
    box-sizing: border-box;
}

.modal {
    box-sizing: border-box;
    max-width: 360px;
    width: 100%;
    height: fit-content;
    border-radius: 25px;
    border: none;
    color: var(--clr-neutral-800);
    background-color: var(--clr-neutral-100);
    border: 1px solid var(--clr-neutral-400);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}

.contato-titulo {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    padding: 1.5rem 0 1.25rem 0;
    position: relative;
}

.contato-titulo::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 57px;
    height: 4px;
    background-color: var(--clr-primary-400);   
}

.dark .modal {
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
}

.modal::backdrop {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modal p {
    padding: 1rem 0 1rem 0;
    line-height: 1.5;
    text-align: center;
    font-size: 0.875rem;
    color: var(--clr-neutral-400);
}

.modal form {
    padding: 2rem 0 0;
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
}

.modal form input,
.modal form select {
    border: 2px solid var(--clr-neutral-400);
    padding: 1rem 1.25rem;
    border-radius: 999px;
    outline: none;
}

.dark .modal form input,
.dark .modal form select {
    border: 2px solid var(--clr-neutral-100);
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-100);
}

.modal form input {
    width: calc(100% - 3rem);
}

.modal input:focus,
.modal select:focus,
.dark .modal input:focus,
.dark .modal select:focus {
    border: 2px solid var(--clr-primary-400);
}

.select-container {
    width: calc(100% - 4px);
    position: relative;
}

.input-select {
    width: 100%;
}

.input-container {
    position: relative;
}

.modal form i {
    position: absolute;
    right: 1.75rem;
    transform: translateY(100%);
    color: var(--clr-primary-400);
    z-index: 2;
}

.modal select {
    appearance: none;
}

.modal-btn {
    display: flex;
    gap: 1rem;
    padding: .5rem 0;
}

.modal-btn button {
    width: 100%;
    font-weight: var(--fw-bold);
    cursor: pointer;
    padding: 1em 3em;
    font-size: 0.8rem;
    border-radius: 999px;
    box-shadow: none;
    transition: box-shadow 0.2s;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border: none;

}

.modal-btn .cancelar {
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-800);
    border: 1px solid var(--clr-neutral-600);
}

.dark .modal-btn .cancelar {
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-100);
}

.modal-btn .enviar {
    background-color: var(--clr-accent-400);
    color: var(--clr-neutral-100);
}

.modal-btn .enviar:hover {
    box-shadow: 0px 3px 16px #FD6F4D80;
}

.lottie {
    position: absolute;
    border-radius: 15px;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    overflow: hidden;
    z-index: 3;
    opacity: 0;
    pointer-events: none;
}

.lottie-load {
    opacity: 1;
}

/** ---------------
  infinite Slider
--------------- **/

.slider-wrapper {
    background-color: var(--clr-neutral-200);
    height: 350px;

    display: grid;
    grid-template-columns: minmax(1rem, calc((100vw - 1040px) / 2)) minmax(0, 300px) minmax(0, 100%);
    align-items: center;
}

.dark .slider-wrapper {
    background-color: var(--clr-neutral-800);;
}

.slider-space {
    grid-area: 1 / 1 / 2 / 2;
    background-color: inherit;
    height: 100%;
    z-index: 2;
}

.slider-about {
    display: flex;
    align-items: center;
    background-color: inherit;
    height: 100%;
    z-index: 2;

    grid-area: 1 / 2 / 2 / 3; 
}
    
.slider-about p { 
    font-size: 1.75rem;
    font-weight: var(--fw-bold);
    line-height: 1.3;
    position: relative; 
    padding-bottom: 1.2rem;
}

.slider-about p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 57px;
    height: 5px;
    background-color: var(--clr-primary-400);   
}

.slider { 
    grid-area: 1 / 3 / 2 / 4;
    position: relative;
}

.auto-slider {
    display: flex;
    animation: 20s slide infinite linear;
}

.slider::before {
    left: 0;
    background: linear-gradient(to right, var(--clr-neutral-200), rgb(255 255 255 / 0));
}

.slider::after {
    right: 0;
    background: linear-gradient(to left, var(--clr-neutral-200), rgb(255 255 255 / 0));
}

.dark .slider::before {
    left: 0;
    background: linear-gradient(to right, var(--clr-neutral-800), rgb(255 255 255 / 0));
}

.dark .slider::after {
    right: 0;
    background: linear-gradient(to left, var(--clr-neutral-800), rgb(255 255 255 / 0));
}

.slider::before,
.slider::after {
    content: "";
    position: absolute;
    top: -10px;
    height: 220px;
    width: 80px;  
    z-index: 2; 
}

.slider:hover .auto-slider {
    animation-play-state: paused;
}

.card-wrapper {
    display: flex;
}


.slider-card {
    width: 200px;
    height: 200px;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 22px;
    padding: 30px;
    box-sizing: border-box;
}

.slider-verde {
    background-color: rgb(90 228 167 / 0.32);
    color: #47B484;
}

.slider-laranja {
    background-color: rgb(255 142 120 / 0.32);
    color: #FF8E78;
}

.slider-azul {
    background-color: rgb(2 171 229 / 0.32);
    color: #02ABE5;
}

.slider-branco {
    background-color: rgb(191 191 191 / 0.32);
    color: #1A2E35;
}

.slider-card span {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: var(--fw-bold);
    max-width: 7ch;
}

.slider-card__image {
    padding: 0.75rem 3rem;
    border-radius: 999px;
    background-color: white;
}

.slider-card__image img {
    width: 45px;
    height: 45px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-240px * 8));
    }
}

/** ----------------
  section clientes 
---------------- **/

.clientes {
    max-width: 1040px;
    margin: 8rem auto;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clientes-wrapper {
    border-radius: 25px;
    background-color: var(--clr-neutral-200);
}

.dark .clientes-wrapper {
    border-radius: 25px;
    background-color: var(--clr-neutral-800);
}

.clientes-conteudo {
    display: flex;
    align-items: center;
    padding: 2.5rem 10% 6rem 10%;
    gap: 3rem;
}

.dark .clientes-img__empresa {
    filter: invert(100%);
    width: 170px;
    height: 30px;
}

.clientes-img__empresa {
    filter: invert(0);
    width: 170px;
    height: 30px;
}

.clientes-testimonial {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.clientes-texto {
    color: var(--clr-neutral-400);
    line-height: 2;
}

.clientes-nome {
    font-weight: var(--fw-semi-bold);
}

.clientes-titulo {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    padding: 3rem 0 2rem 0;
    position: relative;
}

.clientes-titulo::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
    bottom: 0;
    width: 57px;
    height: 5px;
    background-color: var(--clr-primary-400);   
}

.clientes-titulo::after {
    content: "+";
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(90%);
    color: var(--clr-primary-400);
    font-size: 3.75rem;
    line-height: 0;
}

.swiper-slide  {
    width: fit-content !important;
}

.swiper-pagination {
    bottom: 25px !important;
}

.swiper-pagination > * {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0 0.5rem !important;
}

.swiper-pagination-bullet {
    background-color: rgba(0 0 0 / 0.5);
}

.dark .swiper-pagination-bullet {
    background-color: rgba(255 255 255 / 1);
}

/** ----------
  CSS footer
---------- **/

footer {
    background-color: var(--clr-neutral-200);
    position: relative;
}

.footer-wrapper {
    max-width: 1040px;
    margin: 4.5rem auto 0 auto;
    padding: 3rem 1rem 8rem 1rem;

    display: flex;
    justify-content: space-between;
}

.footer-logo-wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.footer-logo-wrapper span {
    text-transform: uppercase;
    color: var(--clr-neutral-600);
}

.footer-logo {
    width: 150px;
}

.dark footer {
    background-color: var(--clr-neutral-800);
}

.footer-detalhe-svg {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-90deg);
}

.footer-detalhe-svg img {
    width: 100px;
    overflow: hidden;
}


.footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase;
    color: var(--clr-neutral-600);

    font-size: 0.9rem;
    line-height: 1;
}

.footer-nav ul li {
    cursor: pointer;
}

.footer-nav ul li a {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: var(--clr-neutral-600);
}

.dark .footer-nav li:hover a,
.dark .footer-info span:hover,
.dark .footer-social span:hover {
    color: var(--clr-neutral-100);
}

.footer-nav li:hover a,
.footer-info span:hover,
.footer-social span:hover {
    color: var(--clr-neutral-900);
}

.footer-info,
.footer-social {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.footer-info span,
.footer-social span {
    color: var(--clr-neutral-600);
}

/** --------------
    Dark theme 
-------------- **/

.dark {
    background-color: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
}

.dark header {
    background-color: var(--clr-neutral-800);
}

.dark .label-checkbox .ball {
    background-color: #495364;
    border: 2px solid #FFFFFF;
}

.dark .header-nav li:hover a {
    color: var(--clr-neutral-100);
}

.header-nav li:hover a {
    color: var(--clr-neutral-900);
}

.nav-link .active {
    color: var(--clr-neutral-900);
}

.dark .active {
    color: var(--clr-neutral-100);
}

/** --------
    Utils 
-------- **/

.blob {
    position: absolute;
    z-index: -1;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 2000px;
    height: 100%;
    background: url('data:image/svg+xml,<svg id="Group_854" data-name="Group 854" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1366" height="684.192" viewBox="0 0 1366 684.192"><defs><clipPath id="clip-path"><rect id="Rectangle_811" data-name="Rectangle 811" width="1366" height="684.192" fill="%23F7F7F7"/></clipPath></defs><g id="Group_853" data-name="Group 853" clip-path="url(%23clip-path)"><path id="Path_1879" data-name="Path 1879" d="M1366,0V215.33a1090.527,1090.527,0,0,1-118.25,180C1123.86,548.27,917.8,656.74,721.22,676.62c-113.81,11.52-230.58,12.85-340.73-17.27a604.962,604.962,0,0,1-165.4-73.25C118.29,524.35,41.42,432.07,0,327.51V0Z" fill="%23F7F7F7"/></g></svg>');
    background-repeat: no-repeat;
    background-size: contain;
}
 
.dark .blob {
    position: absolute;
    z-index: -1;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 2000px;
    height: 100%;
    background: url(/assets/blob-background.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.subtitulo {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 7rem 0 2rem 0;
    position: relative;
}

.subtitulo::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-70%);
    bottom: 0;
    width: 57px;
    height: 5px;
    background-color: var(--clr-primary-400);   
}

.subtitulo::after {
    content: "+";
    position: absolute;
    bottom: 11px;
    left: 50%;
    transform: translateX(90%);
    color: var(--clr-primary-400);
    font-size: 3.75rem;
    line-height: 0;
}

/* section */
.section-wrapper {
    max-width: 1040px;
    margin: 4.5rem auto;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    padding-top: 10.5rem;
    padding-bottom: 4.5rem;
    margin: 0 auto;
    overflow: visible;
}

.section-wrapper__reverse {
    flex-direction: row-reverse;
}

.section-cta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero figure {
    position: relative;
}

.parallax {
    position: absolute;
    top: 200px;
    left: 350px;
}

.section-cta h1 {
    font-size: 3rem;
    font-weight: var(--fw-bold);
    max-width: 16ch;
    line-height: 1.3;
}

.section-cta h1 strong {
    color: var(--clr-primary-400);
}

.section-cta h2 {
    font-size: 1.75rem;
    font-weight: var(--fw-regular);
    line-height: 1.3;
    position: relative;
    padding-bottom: 1rem;
}

.section-cta h2 strong {
    font-weight: var(--fw-bold);
}

.section-cta h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 57px;
    height: 5px;
    background-color: var(--clr-primary-400);   
}

.section-cta p {
    font-size: 1rem;
    color: var(--clr-neutral-400);
    max-width: 60ch;
    line-height: 1.8;
}

.section-cta .content {
    font-size: 1rem;
    color: var(--clr-neutral-400);
    max-width: 57ch;
    line-height: 2;
}

/* button cta */

.cta-button {
    cursor: pointer;
    padding: 1em 3em;
    font-size: 0.8rem;
    width: fit-content;
    border-radius: 9999px;
    background-color: var(--clr-accent-400);
    color: var(--clr-neutral-100);
    box-shadow: none;
    transition: box-shadow 0.2s;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.cta-button:hover {
    box-shadow: 0px 3px 16px #FD6F4D80;
}

.whatsapp {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 999;
    cursor: pointer;
}

.whatsapp img {
    max-width: 70px;
    max-height: 70px;
}

/* -- hidden / show -- */
.fade {
    opacity: 0;
    filter: blur(20px);
    transition: all 1.5s;
}

.efeito-esquerda {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-10%);
    transition: all 1.5s;
}

.efeito-direita {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(10%);
    transition: all 1.5s;
}

.efeito-blur {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(0);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* @media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
} */
